body {
    font-family: 'Jost', sans-serif;
    margin: 20px;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    color: #1f3b5c;
}

h3 {
    color: #ffe220;
}

form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #1f3b5c;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.9);
}

label {
    display: block;
    margin-bottom: 8px;
    color: white;
}

input{
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

select {
    width: 99%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    background-color: #f4782a;
    color: white;
    cursor: pointer;
    font-size: 18px;
    transition: 0.3s;
    border: none;
}

.aviso{
    text-align: center;
    font-size: 18px;
}

button:hover {
    background-color: #ee6916;
    font-weight: 500;
}

/* Responsividade */
@media (max-width: 768px) {
    body {
        padding: 10px;
    }
    form {
        padding: 15px;
    }
    button {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    form {
        padding: 10px;
    }
    input, select, button {
        font-size: 14px;
    }
    input{
        width: 90%;
    }
    h1{
        font-size: 25px;
    }
    .aviso{
        font-size: 14px;
    }
}
